@import "../../../../styles/colors";
@import "../../../../styles/varibles";

:host{
  display: block;
}
.table-wrapper{
  width: 100%;

  .tbl-header{
    font-weight: 600;
    font-size: 1.3em;
  }

  .table{
    display: table;
    width: 100%;

    @media only screen and (max-width : 768px) {
      display: block;
    }

    .tbl-row{
      display: table-row;
      background-color: #f6f6f6;
      height: $responsive_row_height;

      &:nth-of-type(odd){
        background-color: white;
      }

      &.header{
        background-color: $gray_3;
        font-weight:600;
      }

      @media only screen and (max-width : 768px) {
        display: block;
        height: initial;
      }

      .tbl-cell{
        display: table-cell;
        padding: 10px 10px;
        line-height: $responsive_row_height;
        @media only screen and (max-width : 768px) {
          display: block;
          line-height: initial;
        }
      }
    }
  }
}
