@import "../../../styles/colors";
@import "../../../styles/mixing";

:host{
  padding-top: 20px;
  display: block;
}

.icon-container{
  padding-bottom:20px;
}

.icon-grp {
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
  padding: 20px;
  border: solid 1px $gray_3;

  i, span {
    display: inline-block;
    width: 100%;
    text-align: center;
    @include transition(all 0.3s ease-in);
  }

  i {
    font-size: 5em;
    color: $primary-color_main;
  }

  span{
    color: $gray_7;
    font-size: 1.2em;
    font-weight: 600;
  }

  @include transition(all 0.3s ease-in);

  &:hover{
    box-shadow: 0px 2px 10px 0px $gray_3;

    i{
      color: $primary-color_dark;
    }

    span{
      color: $gray_9;
    }
  }
}
