<nav class="row navbar navbar-default animated fadeInDown navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="home">
        <span class="logo"><img src="images/wso2telco_logo.png" ></span>
        <span class="name"><span class="man">{{CONST.appName | uppercase}}</span></span>
      </a>
      <app-hamburger-menu
              [isExpand]="applicationData?.isMainMenuExpand"></app-hamburger-menu>
    </div>

    <div class="navbar-right text-right">
      <app-user-avatar
            [userInfo]="userInfo"></app-user-avatar>
    </div>
  </div>
</nav>
