@import "../../../../styles/varibles";
@import "../../../../styles/colors";
@import "../../../../styles/mixing";


.ddt-wrapper{

  .tbl-container{
    position: relative;
    left : 0px;
    @include transition(left 0.5s 0.2s);
  }

  .tbl-edit-container{
    position: fixed;
    @include box-shadow(-2px 0px 5px 0px #adb5bd);
    min-width: $ddt_editor_panel_width;
    right: -$ddt_editor_panel_width;
    top: $topbar-height + $main-breadcrumbs-height + $ddt_def_header_height;
    bottom: 0px;
    opacity: 0;
    background-color: $gray_1;
    @include transition(all 0.3s ease-in);
  }

  &.is-editor-open{
    .tbl-container{
      left: -$ddt_editor_panel_width/2;
      opacity:0.5;
    }

    .tbl-edit-container{
      right: 0;
      opacity: 1;
    }
  }

}