//TopBar
$topbar-height : 70px;
$app-min-width : 500px;

$animation-duration : 0.6s;

//Hamburger Menu settings
$hm-bar-width: 25px;
$hm-bar-height: 2px;
$hm-bar-spacing: 10px;

//Menu Bar
$main-menu-default-width : 50px;
$main-menu-expanded-width : 285px;
$main-menu-icon-height : 46px;

//Breadcrumbs
$main-breadcrumbs-height : 46px;

//Dynamic Data Table
//default Header Component
$ddt_def_header_height : 40px;
$ddt_def_search_min_width : 450px;
$ddt_def_add_new_min_width : 100px;

//Editor Component Wrapper
$ddt_editor_panel_width : 500px;


//Responsive Table
$responsive_row_height : 50px;