<div>
    <form (ngSubmit)="onFormSubmit.emit(dynamicForm.value)"
          [formGroup]="dynamicForm" *ngIf="formItems?.length > 0">

        <dynamic-form-element [ngClass]="formLayoutGridStyle" *ngFor="let item of formItems"
                              [elementData]="item"
                              [form]="dynamicForm"></dynamic-form-element>

        <div class="form-group col-sm-12">
            <button type="submit" class="btn btn-primary" [disabled]="!dynamicForm.valid">Add</button>
        </div>

    </form>
</div>
