<div class="form-group" [formGroup]="form">
    <label [attr.for]="elementData?.key">{{elementData?.label}}<span class="required"
                                                                     *ngIf="elementData?.required">*</span></label>
    <div [ngSwitch]="elementData.formControlType">

        <input class="form-control"
               *ngSwitchCase="'TEXT_INPUT'"
               [formControlName]="elementData?.key"
               [id]="elementData?.key"
               [type]="elementData?.type"
               [placeholder]="elementData?.label">
    </div>

    <div class="errorMessage text-right"
         *ngIf="(form.controls[elementData?.key].touched || form.controls[elementData?.key].dirty)  &&
    form.controls[elementData?.key].hasError('required')">{{elementData.label}} is required
    </div>
</div>